<div flex>
  <h1 class="text-center">'Allo, 'Allo!</h1>
  <md-content flex layout-padding class="bracket">
    <h2 class="text-center">{{vm.brackets[0].name}}</h2>

    <div class="round" id="quarterfinals">

      <div class="matchup-container">

        <div class="matchup">

          <div class="game" id="game-1">
            <div class="player top" id="seed-1">
              <p>{{vm.players[0].name}}
            </div>
            <div class="player" id="seed-4">
              <p>{{vm.players[1].name}}
            </div>
          </div>
    
          <div class="game" id="game-2">
            <div class="player top" id="seed-2">
              <p>{{vm.players[2].name}}
            </div>
            <div class="player" id="seed-3">
              <p>{{vm.players[3].name}}
            </div>
          </div>

        </div>
 
        <div class="connector">
          <div class="merger"></div>
          <div class="line"></div>
        </div>
      </div>
    </div>

  </md-content>
</div>
